* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #eeeeee;
}
.header {
  background: white;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}
.buscar {
  display: flex;
  align-items: center;
}

.logo {
  display: flex;
}
.logo li {
  display: block;
  padding: 10px;
}
.contenedor {  
  
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 35px ;
  margin-bottom:50 px;
  display: flex;
  justify-content: center;
  background-color:#eeeeee;
}
#imagem{
  height: 100%;
  width: 100%;
  background-color:white;  
   
  
  
}

.bloco2{
  height: 100 px;
  width: 30% ;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.titulo{
  background-color:white;
  border-bottom-width: thin ;
  border-bottom-style: dotted;
  
  height: 80px;

}

.letreiro{
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  background-color: white;

}

#perfil{
  height: 50px;
  width: 50px;
  border-radius: 100%;  
  border-width: medium;
  border-style: solid;
  border-color: red;
  margin-top: 15px;
  margin-left: 10px;
 
  
  
}
#nome{
  background-color: lawngreen;
  height: 50px;
  width: 50px;
    
}
.usuario{
  margin-top: 25px;
}



.sub{
  margin-top: 30px;
  margin-right: 15px;
}

.futter{
  background-color: white;
  height: 100px;
  display: flex;
  justify-content: space-between;
}

.flex{
  background-color: white;
}

.bloco3{
  background-color: white;
  margin-left: 10px;

}

.sub-titulo{
  background-color:white;
  margin-left: 10px;
  margin-top: 10px;
  display: flex;
  justify-content: flex-start;
}

#sub-perfil{
  height: 30px;
  width: 30px;  
  border-radius: 100%;  
  border-width: medium;
  border-style: solid;
  border-color: red;
}
#sub-nome{
  margin-left: 10px;
  
}

.comentario1,
.comentario2{
  background-color:white;
  margin-left: 50px;
  margin-top: 25px;
  display: flex;
  
}
#motivacao,
#motivacao2{
  margin-left: 00px;
  font-size: 15px;
}
#img-motivacao,
#img2-motivacao{
  border-radius: 100%;  
  border-width: medium;
  border-style: solid;
  border-color: red;
  
}






.final{
  display: flex;
  justify-content: space-between;  
  background-color: white;
  width: 100px;
  margin-top: 25px;
}
.salvar{
  margin-top: 15px;
  background-color: white;

}

.comentario{
  background-color:white;
  height: 100px;
  margin-bottom: 80px;
  border-width: medium;
  border-style: solid;
  border-color: #eeeeee;
  
}

.icones{
  height: 100px;
  width: 100%;
  background-color:white;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.lista1{
  background-color: white;
  display: flex;
  justify-content: space-between;
  width: 30%;
  margin-left: 5%;
}
.lista2{
  background-color:white;
}


.formulario{
  background-color: white;
  width: 100%;
  display: flex;
  justify-content: center;
  border-width: medium;
  border-style: solid;
  border-color:#eeeeee;
}

#adicionar_um_comentario{
  background-color:white;
  margin-top: 20px;
  height: 50px;
  width: 100%;
  margin-left: 00px;
  border-width: thin;
  border-style: solid;
  border-color: #eeeeee;
    
}

#publicar{
  background-color:white;
  width: 65px;
  margin-top: 20px;
  margin-right: 00px;
  border-width: medium;
  border-style: solid;
  border-color: #eeeeee;
}